.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

}

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  height: 70px;
  margin: 0 auto;
}

.logo-block {
  display: flex;
  align-items: center;
  margin-right: 50px;

  h2 {
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 20px white;

    span {
      color: red;
      text-shadow: 1px 1px 10px red;
      text-shadow: white 1px 0 10px;
    }
  }
}
