<header class="header">
  <!-- Main header -->
  <div *ngIf="toggleMenuPizza" class="container-header">
    <a routerLink="/" class="logo-block">
      <h2>Web<span>VSK</span>Studio</h2>
    </a>
    <nav class="nav-block">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/calc/" routerLinkActive="active">Calculator</a>
      <a routerLink="/biscuit/" routerLinkActive="active">Biscuit machine</a>
      <a routerLink="/pizzas/" routerLinkActive="active" (click)="toggleMenu()"
        >Pizza-shop</a
      >
    </nav>
  </div>
  <!-- Pizza header -->
  <div *ngIf="!toggleMenuPizza" class="container-header">
    <a routerLink="/" class="logo-block" (click)="toggleMenu()">
      <img
        class="logo-img"
        src="../../../assets/img/Pizza1.jpeg"
        alt="pizza-logo"
      />
      <h2>Pizza<span>VSK</span>Shop</h2>
    </a>
    <nav class="pizza-block">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >Home</a
      >
      <div class="cart-link" (click)="drawerOpen()">
        <img src="../../../assets/shopping-cart-icon.svg" alt="cart-icon" />
        <p>{{ total }} USD</p>
      </div>
    </nav>
    <!-- Cart  -->
  </div>
</header>
<app-drawer *ngIf="toggleCartOpen"></app-drawer>
`
