// Placeholder position and moving
// .custom-input {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   font-size: 14px;
//   margin: 15px 0;
h2 {
  display: flex;
  color: white;
}

// Placeholder position and moving
.input-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  font-size: 14px;
  margin: 15px auto;


  // Input Block
  .input-block {
    position: relative;
    display: flex;
    width: 190px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;

    &:hover {
      cursor: pointer;

    }

    .p-holder {
      position: absolute;
      top: 0px;
      left: 21px;
      font-size: 1.5rem;
      transition: all 0.5s ease-in-out;
      color: rgb(117, 117, 117);
    }

    &:hover .p-holder {
      outline: none;
      transform: translateY(-18px) translateX(-10px);
      transition: all 0.5s ease-in-out;
      color: white;
      font-size: smaller;
    }

    input {
      width: 145px;
      border: 0px;
      font-size: 16px;

      &:focus+.p-holder {
        outline: none;
        transform: translateY(-18px) translateX(-10px);
        transition: all 0.5s ease-in-out;
        color: white;
        font-size: smaller;
      }

      &:focus {
        outline: none;
      }
    }
  }

}





// Clear button
.clear-button {
  width: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:active {
    transition: all 0.3s ease-in-out;
    transform: scaleY(1px);
  }
}
