<div>
  <h1>Test works</h1>
  <h2><span>Fairy calculator</span><br /></h2>

  <h3>Uses:<br /></h3>
  <p>
    "+" and "-"" for multiplication and division <br />
    "*" and "/"" for square root
  </p>
  <br />
  <h2><span>Biscuit machine</span><br /></h2>
  <h3>Requirements:</h3>
  <p>
    Design a system to control the Biscuit Machine to the following
    specification:
  </p>
  <ul>
    <li>
      When switched on, the machine must wait for the oven to warm up before
      starting the conveyor belt.
    </li>
    <li>
      Biscuits must be cooked at a temperature of 220 - 240°C (the oven will
      overheat if the heating element is on all the time).
    </li>
    <li>
      If the operator selects “Pause", all movement must be stopped immediately
      but the oven should be kept heated.
    </li>
    <li>
      When “Off” is selected, the machine should be shut down leaving nothing on
      the conveyor belt.
    </li>
  </ul>
  <br />
  <h2><span> Pizza internet-shop</span></h2>
  <h3 style="color: rgb(223, 115, 115)">Under construction...</h3>
  <p>API with backend will be used</p>
</div>
